In [1]:
import pandas as pd
import numpy as np

In [2]:
old_stats = pd.read_csv('scrapping/scrapDriversStatsAll.csv')

In [3]:
old_stats.head()

,Unnamed: 0,Nombre,Championships,no,teammates,seasons,constructors,engine,models,involvements,...,958,475,080,498,590,230,963,446,816,468
0,0,Carlo Abate,0,3.0,2.0,2.0,2.0,2.0,3.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,George Abecassis,0,NaN,3.0,2.0,NaN,1.0,2.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Jay Abney,0,1.0,2.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Jean Achard,0,1.0,NaN,NaN,NaN,1.0,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Kenny Acheson,0,8.0,2.0,2.0,2.0,2.0,2.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Create a new dataframe with the columns that we need.

In [5]:
new_stats = old_stats[['Nombre','Championships','Grands','Grand','wins','win','pole','fastests','fastest','podiums','podium','retirements','retirement','constructors','constructor','models','model']].copy()

In [6]:
new_stats.head()

,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
0,Carlo Abate,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,NaN
1,George Abecassis,0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1.0,2.0,NaN
2,Jay Abney,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
3,Jean Achard,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
4,Kenny Acheson,0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,2.0,NaN

In [7]:
#Save the new dateframe.

In [8]:
new_stats.to_csv('driversDataFrame2.csv')

In [9]:
#Replace NaN with 0

In [10]:
new_stats = new_stats.fillna(0)

In [12]:
new_stats.head(100)

,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
0,Carlo Abate,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0
1,George Abecassis,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0
2,Jay Abney,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,Jean Achard,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,Kenny Acheson,0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Art Bisch,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,2.0,0.0
96,Harry Blanchard,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
97,Michael Bleekemolen,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,2.0,0.0
98,Hans Blees,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
99,Alex Blignaut,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [7]:
#Select columns with float type to covert to int, then to string.

In [13]:
col =['Grands','Grand','wins','win','pole','fastests','fastest','podiums','podium','retirements','retirement','constructors','constructor','models','model']

In [14]:
#converting to int. Fill NaN with zeros and import numpy first to aplly int64 mapping.

In [15]:
new_stats[col] = new_stats[col].fillna(0).applymap(np.int64)

In [17]:
new_stats.head(100)

,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
0,Carlo Abate,0,0,0,0,0,0,0,0,0,0,0,0,2,0,3,0
1,George Abecassis,0,2,0,0,0,0,0,0,0,0,2,0,0,1,2,0
2,Jay Abney,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
3,Jean Achard,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
4,Kenny Acheson,0,3,0,0,0,0,0,0,0,0,2,0,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Art Bisch,0,0,1,0,0,0,0,0,0,0,0,1,2,0,2,0
96,Harry Blanchard,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1
97,Michael Bleekemolen,0,0,1,0,0,0,0,0,0,0,0,1,2,0,2,0
98,Hans Blees,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
99,Alex Blignaut,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1

In [18]:
#Save the new dateframe again.

In [19]:
new_stats.to_csv('driversDataFrame2.csv')