In [2]:
import pandas as pd
import numpy as np

In [3]:
stats = pd.read_csv('driversDataFrame2.csv')
stats.head(100)

,Unnamed: 0,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
0,0,Carlo Abate,0,0,0,0,0,0,0,0,0,0,0,0,2,0,3,0
1,1,George Abecassis,0,2,0,0,0,0,0,0,0,0,2,0,0,1,2,0
2,2,Jay Abney,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
3,3,Jean Achard,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
4,4,Kenny Acheson,0,3,0,0,0,0,0,0,0,0,2,0,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Art Bisch,0,0,1,0,0,0,0,0,0,0,0,1,2,0,2,0
96,96,Harry Blanchard,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1
97,97,Michael Bleekemolen,0,0,1,0,0,0,0,0,0,0,0,1,2,0,2,0
98,98,Hans Blees,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
99,99,Alex Blignaut,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1

In [4]:
#Join some columns with similar names. Keep those written in plural.

In [5]:
stats["wins"] = stats["wins"] + stats["win"]

In [6]:
stats.loc[stats['Nombre'] == 'Olivier Panis']

,Unnamed: 0,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
697,697,Olivier Panis,0,158,0,1,1,0,0,0,5,0,63,0,4,0,12,0

In [7]:
stats["fastests"] = stats["fastests"] + stats["fastest"]

In [8]:
stats.loc[stats['Nombre'] == 'Esteban Gutierrez']

,Unnamed: 0,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
403,403,Esteban Gutierrez,0,59,0,0,0,0,1,1,0,0,15,0,2,0,4,0

In [9]:
stats["podiums"] = stats["podiums"] + stats["podium"]

In [10]:
stats.loc[stats['Nombre'] == 'Aguri Suzuki']

,Unnamed: 0,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
895,895,Aguri Suzuki,0,64,0,0,0,0,0,0,1,1,40,0,6,0,11,0

In [11]:
stats["retirements"] = stats["retirements"] + stats["retirement"]

In [12]:
stats.loc[stats['retirements'] == 1]

,Unnamed: 0,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
5,5,Philippe Adams,0,2,0,0,0,0,0,0,0,0,1,1,0,1,0,1
7,7,Kurt Adolff,0,0,1,0,0,0,0,0,0,0,1,1,0,1,0,1
22,22,Red Amick,0,2,0,0,0,0,0,0,0,0,1,1,2,0,2,0
26,26,Conny Andersson,0,0,1,0,0,0,0,0,0,0,1,1,2,0,2,0
31,31,Marco Apicella,0,0,1,0,0,0,0,0,0,0,1,1,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,979,Wayne Weiler,0,0,1,0,0,0,0,0,0,0,1,1,0,1,0,1
987,987,Bill Whitehouse,0,0,1,0,0,0,0,0,0,0,1,1,0,1,0,1
990,990,Robin Widdows,0,0,1,0,0,0,0,0,0,0,1,1,0,1,0,1
998,998,Vic Wilson,0,0,1,0,0,0,0,0,0,0,1,1,2,0,2,0
1001,1001,Markus Winkelhock,0,0,1,0,0,0,0,0,0,0,1,1,2,0,2,0

In [13]:
stats["constructors"] = stats["constructors"] + stats["constructor"]

In [14]:
stats.loc[stats['constructor'] == 1]

,Unnamed: 0,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
1,1,George Abecassis,0,2,0,0,0,0,0,0,0,0,2,0,1,1,2,0
2,2,Jay Abney,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1
3,3,Jean Achard,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1
5,5,Philippe Adams,0,2,0,0,0,0,0,0,0,0,1,1,1,1,0,1
6,6,Walt Ader,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1005,Roelof Wunderink,0,3,0,0,0,0,0,0,0,0,2,0,1,1,2,0
1007,1007,Katsumi Yamamoto,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1
1008,1008,Naoki Yamamoto,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1
1010,1010,Alex Yoong,0,14,0,0,0,0,0,0,0,0,8,0,1,1,2,0
1012,1012,Emilio Zapico,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1

In [15]:
stats["models"] = stats["models"] + stats["model"]

In [17]:
stats.loc[stats['model'] == 1]

,Unnamed: 0,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
2,2,Jay Abney,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1
3,3,Jean Achard,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1
5,5,Philippe Adams,0,2,0,0,0,0,0,0,0,0,1,1,1,1,1,1
6,6,Walt Ader,0,0,1,0,0,0,0,0,0,0,0,0,1,1,1,1
7,7,Kurt Adolff,0,0,1,0,0,0,0,0,0,0,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,996,DesirÃ© Wilson,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1
999,999,Joachim Winkelhock,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1
1007,1007,Katsumi Yamamoto,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1
1008,1008,Naoki Yamamoto,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1
1012,1012,Emilio Zapico,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [18]:
stats["Grands"] = stats["Grands"] + stats["Grand"]

In [21]:
stats.head(100)

,Unnamed: 0,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
0,0,Carlo Abate,0,0,0,0,0,0,0,0,0,0,0,0,2,0,3,0
1,1,George Abecassis,0,2,0,0,0,0,0,0,0,0,2,0,1,1,2,0
2,2,Jay Abney,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1
3,3,Jean Achard,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1
4,4,Kenny Acheson,0,3,0,0,0,0,0,0,0,0,2,0,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Art Bisch,0,1,1,0,0,0,0,0,0,0,1,1,2,0,2,0
96,96,Harry Blanchard,0,1,1,0,0,0,0,0,0,0,0,0,1,1,1,1
97,97,Michael Bleekemolen,0,1,1,0,0,0,0,0,0,0,1,1,2,0,2,0
98,98,Hans Blees,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1
99,99,Alex Blignaut,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [22]:
#Saving the changes.

In [23]:
stats.to_csv('driversDataFrame2.csv')

In [24]:
stats.loc[stats['Nombre'] == 'Oscar Galvez']

,Unnamed: 0,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
349,349,Oscar Galvez,0,1,1,0,0,0,0,0,0,0,0,0,1,1,1,1

In [25]:
stats.loc[stats['Nombre'] == 'Hans Herrmann']

,Unnamed: 0,Nombre,Championships,Grands,Grand,wins,win,pole,fastests,fastest,podiums,podium,retirements,retirement,constructors,constructor,models,model
435,435,Hans Herrmann,0,17,0,0,0,0,1,1,1,1,8,0,6,0,7,0

In [26]:
#Delete singular columns.

In [27]:
stats = stats.drop(columns=['Grand','win','fastest','podium','retirement','constructor','model'])

In [28]:
#Save the definive dataframe.

In [29]:
stats.to_csv('driversDataFrame3.csv')

In [31]:
stats.head(100)

,Unnamed: 0,Nombre,Championships,Grands,wins,pole,fastests,podiums,retirements,constructors,models
0,0,Carlo Abate,0,0,0,0,0,0,0,2,3
1,1,George Abecassis,0,2,0,0,0,0,2,1,2
2,2,Jay Abney,0,0,0,0,0,0,0,1,1
3,3,Jean Achard,0,0,0,0,0,0,0,1,1
4,4,Kenny Acheson,0,3,0,0,0,0,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...
95,95,Art Bisch,0,1,0,0,0,0,1,2,2
96,96,Harry Blanchard,0,1,0,0,0,0,0,1,1
97,97,Michael Bleekemolen,0,1,0,0,0,0,1,2,2
98,98,Hans Blees,0,0,0,0,0,0,0,1,1
99,99,Alex Blignaut,0,0,0,0,0,0,0,1,1

In [32]:
stats.loc[stats['Grands'] == 1]

,Unnamed: 0,Nombre,Championships,Grands,wins,pole,fastests,podiums,retirements,constructors,models
6,6,Walt Ader,0,1,0,0,0,0,0,1,1
7,7,Kurt Adolff,0,1,0,0,0,0,1,1,1
9,9,Kurt Ahrens,0,1,0,0,0,0,0,1,1
10,10,Jack Aitken,0,1,0,0,0,0,0,1,1
21,21,George Amick,0,1,0,0,0,1,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...
987,987,Bill Whitehouse,0,1,0,0,0,0,1,1,1
990,990,Robin Widdows,0,1,0,0,0,0,1,1,1
993,993,Jonathan Williams,0,1,0,0,0,0,0,1,1
998,998,Vic Wilson,0,1,0,0,0,0,1,2,2
1001,1001,Markus Winkelhock,0,1,0,0,0,0,1,2,2